<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="WebstaurantStoreSuite">
  <test thread-count="5" name="WebstaurantStoreTest">
    <classes>
      <class name="com.qa.store.tests.WebstaurantStoreTest"/>
    </classes>
  </test> <!-- WebstaurantStoreTest -->
</suite> <!-- WebstaurantStoreSuite -->
